
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  
  .container {
    max-width: 90%;
    margin: auto;
  }
  
/*------------home------------*/
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }
  
  .home {
    background-image: url("http://localhost:4200/assets/img/Aswan-Nilme.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  .home h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 150px;
    color: white;
    padding-top: 10%;
  }
  
  .home p {
    color: white;
  }
  
  .home .content {
    text-align: left;
    color: black;
    margin-top: 7%;
  }
  
  .home .box {
    background: white;
    padding: 35px;
  }
  
  .home input {
    margin-top: 10px;
  }
  
  input {
    border: none;
    outline: none;
  }
  
  button {
    background: #CC8C18;
    color: white;
    margin: 25px;
    padding: 20px 40px;
    outline: none;
    border: none;
    border-radius: 30px;
  }
  
  button i {
    /* margin-left: 20px; */
    font-size: 25px;
  }
  
  button span {
    margin-top: 5px;
  }
  
  /*------------home------------*/