<section class="home" id="home">
    <div class="container">
      <h1>OUR HOTELS</h1>
      <!-- <p>Discover the place where you have fun & enjoy a lot</p> -->
      <p>Discover your best stay</p>

      <div class="content grid">
        <div class="box">
          <span>ARRIVAL DATE </span> <br>
          <input type="date" placeholder="29/20/2021">
        </div>
        <div class="box">
          <span>DEPARTURE DATE</span><br>
          <input type="date" placeholder="29/20/2021">
        </div>
        <div class="box">
          <span>ADULTS</span> <br>
          <input type="number" placeholder="01">
        </div>
        <div class="box">
          <span>CHILDREN </span> <br>
          <input type="number" placeholder="01">
        </div>
        <div class="box-btn">
          <button class="flex1">
            <span routerLink="hotels/room">Check Availability</span>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
