<section>
    <div class="container" style="margin-top:50px;">
      <div class="row">
          <div class="col-md-3">
              <div class="card-sl">
                  <div class="card-image">
                      <img
                          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmnuwQMXF7opq3jq_myogPfdd4bSuv6NQKHg&usqp=CAU" />
                  </div>
                  <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                  <div class="card-heading">
                      Ahmed Adel
                  </div>
                  <div class="card-text" style="display: inline-block;">
                    <ul class="list-unstyled list-inline mb-1">
                      <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"> </i></li>
                      <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                      <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                      <li class="list-inline-item me-0"><i class="fa fa-star fa-xs"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-half-alt fa-xs"></i></li>
                    </ul>
                  </div>
                  <div class="card-text">
                    <ul class="list-unstyled list-inline mb-1"> Lanuage :
                      <li class="list-inline-item me-0"> English</li>
                      <li class="list-inline-item me-0">SPANISH</li>
                      <li class="list-inline-item me-0">Arabic</li>
                      <!-- <li class="list-inline-item me-0"></li> -->
                    </ul>
                  </div>
                  <div class="card-text">
                      750L.E/H
                  </div>
                  <a href="#" class="card-button" style=" background: #CC8C18;">Contact Ahmed</a>
              </div>
          </div>
      </div>

      <div class="form-btn d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="submit-btn m-5"  routerLink="/custom_place">Confirm</button>
      </div>
    
    </div>
    </section>    