/*  Helper Styles */
body {
    font-family: Varela Round;
    background: #f1f1f1;
  }
  
  a {
    text-decoration: none;
  }
  
  .fa {
    position: relative;
    display: table-cell;
    width: 30px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
    }
  /* Card Styles */
  
  .card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
  }
  
  .card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #e26d5c;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card-action:hover {
    color: #fff;
    background: #e26d5c;
    -webkit-animation: pulse 1.5s infinite;
  }
  
  .card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
  }
  
  .card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
  }
  
  .card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1f487e;
    color: #fff;
    border-radius: 0 0 8px 8px;
  }
  
  .card-button:hover {
    text-decoration: none;
    background-color: #1d3461;
    color: #fff;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
  
    100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }
  body {
      background-color: #f5f7fa;
  }
  
  .card.booking-card.v-2 {
    background-color: #c7f2e3;
  }
  
  .card.booking-card.v-2 .fa {
    color: #f7aa00;
  }
  
  .card.booking-card.v-2 .card-body .card-text {
    color: #db2d43;
  }
  
  .card.card.booking-card.v-2 .chip {
    background-color: #87e5da;
  }
  
  .card.booking-card.v-2 .card-body hr {
    border-top: 1px solid #f7aa00;
  }
  
  button {
    background: #CC8C18;
    color: white;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
  }
  
  button i {
    margin-left: 20px;
    font-size: 25px;
  }
  
  button span {
    margin-top: 5px;
  }