<section class="about" id="about">
  <div class="container">
    <div class="cards">
      <!-- <div class="card"> -->
        <!-- <div class="container"> -->
          <div class="row mt-5">
            <div class="preview-card">
              <div class="preview-card__wrp">
                <div class="preview-card__item">
                  <div class="preview-card__img">
                    <img src="./images/Aswan, Egypt Series_ Movenpick 5.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="preview-card__content">
                    <div class="preview-card__title">Movenpick Aswan</div>
                    <span class="preview-card__code"> <b>Price:</b> 250$</span>
                    <div class="preview-card__text">
                      <ul class="preview-card__icon" style="list-style-type: none;">
                        <i class="fa-sharp fa-solid fa-wifi"></i>
                        <li style="display: inline-block; padding-left: 5px;">Free wifi</li>
                        <br>
                        <i class="fa-solid fa-square-parking"></i>
                        <li style="display: inline-block; padding-left: 5px;">Parking</li>
                        <br>
                        <i class="fa-solid fa-dumbbell"></i>
                        <li style="display: inline-block; padding-left: 5px;">Gym</li>
                      </ul>
                      <br>
                      <h3 style="color: rgb(204, 140, 24);">Description: </h3>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium repellat sunt harum
                        inventore placeat reiciendis debitis repudiandae veritatis hic voluptate excepturi aliquam ipsum
                        quisquam, nihil optio tempore dolores odit quo.</p>
                    </div>
                    <a href="#" class="preview-card__button">BOOK NOW</a>
                  </div>
                </div>

              </div>
            </div>

            <!-- <div class="preview-card">
              <div class="preview-card__wrp">
                <div class="preview-card__item swiper-slide">
                  <div class="preview-card__img">
                    <img src="./images/Old Cataract Hotel - Aswan 1.jpg" alt="">
                  </div>
                  <div class="preview-card__content">
                    <div class="preview-card__title">Old Cataract</div>
                    <span class="preview-card__code"><b>Price:</b> 300$</span>
                    <div class="preview-card__text">
                      <ul style="list-style-type: none;">
                        <i class="fa-sharp fa-solid fa-wifi"></i>
                        <li style="display: inline-block; padding-left: 5px;">Free wifi</li>
                        <br>
                        <i class="fa-solid fa-square-parking"></i>
                        <li style="display: inline-block; padding-left: 5px;">Parking</li>
                        <br>
                        <i class="fa-solid fa-dumbbell"></i>
                        <li style="display: inline-block; padding-left: 5px;">Gym</li>
                      </ul>
                      <br>
                      <h3>Description: </h3>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium repellat sunt harum
                        inventore placeat reiciendis debitis repudiandae veritatis hic voluptate excepturi aliquam ipsum
                        quisquam, nihil optio tempore dolores odit quo.</p>

                    </div>
                    <a href="#" class="preview-card__button">BOOK NOW</a>
                  </div>
                </div>

              </div>
            </div> -->

          </div>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</section>