<app-navbar></app-navbar>
<a class="nav-link mx-2" routerLinkActive="active" routerLink="about" class="btn btn-warning">About Us</a>
<a class="nav-link mx-2" routerLinkActive="active" routerLink="payment" class="btn btn-warning">payment</a>
<a class="nav-link mx-2" class="btn btn-warning">places</a>


<a class="nav-link mx-2" routerLinkActive="active" routerLink="/customize/hotel">customize hotel</a>
<a class="nav-link mx-2" routerLinkActive="active" routerLink="/customize/place">customize Places</a>
 <a class="nav-link mx-2" routerLinkActive="active" routerLink="/customize/tourgide">customize Tourgide</a>
   <a class="nav-link mx-2 mb-1" routerLinkActive="active" routerLink="/customize/trip-details">customize Your Trip</a>


<a class="nav-link mx-2" routerLinkActive="active" routerLink="AllTrip" class="btn btn-warning">AllTrip</a>
<router-outlet></router-outlet>



<!-- <app-footer></app-footer> -->