<app-navbar class="stickynavbar" style="display: block;"></app-navbar>

<router-outlet></router-outlet>
<a class="nav-link mx-2" routerLinkActive="active" routerLink="dashboard" class="btn btn-sucsses">Dashboard Admin</a>
 

<a class="nav-link mx-2" routerLinkActive="active" routerLink="about" class="btn btn-info">About Us</a>
<a class="nav-link mx-2" routerLinkActive="active" routerLink="payment" class="btn btn-info">payment</a>
<a class="nav-link mx-2" routerLinkActive="active" routerLink="registration" class="btn btn-danger">userlogin</a>
<a class="nav-link mx-2" routerLinkActive="active" routerLink="/customize/hotel" class="btn btn-warning">customize hotel</a>
<a class="nav-link mx-2" routerLinkActive="active" routerLink="/customize/place" class="btn btn-warning">customize Places</a>
 <a class="nav-link mx-2" routerLinkActive="active" routerLink="/customize/tourgide" class="btn btn-warning">customize Tourgide</a>
   <a class="nav-link mx-2 mb-1" routerLinkActive="active" routerLink="/customize/trip" class="btn btn-warning">customize Your Trip</a>
<a class="nav-link mx-2" routerLinkActive="active" routerLink="AllTrip" class="btn btn-warning" class="btn btn-warning">AllTrip</a>



<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<!-- <app-footer></app-footer> -->