<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h4 class="title pull-left">Users List</h4>
                            <a href="#" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus"></i> Add New</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> #</th>
                                <th> cover_img</th>
                                <th>description</th>
                                <th>n_of_people</th>
                                <th> n_of_places</th>
                                <th>  num_of_days</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5"><input type="text" class="form-control" placeholder="Search Users"></td>
                            </tr>

                        
                            <tr   *ngFor="let Trip of TripList ;">
                                <th> {{Trip?.Trip_id}}</th>
                                <td>
                                    <div class="user_icon">
                                        <img [src]=" 'http://localhost:8000/' + Trip.cover_img " style="width: 70px;height: 70px; border-radius: 10px;" >
                                    </div>
                                </td>
                                <td>{{Trip?.description}}</td>
                                <td>{{Trip?.n_of_people}}</td>
                                <td>{{Trip?.n_of_places}}</td>
                                <td>{{Trip?.num_of_days}}</td>
                                <td>
                                    <ul class="action-list">
                                        <li><a href="#" class="btn btn-success"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a></li>
                                        <li><a href="#" class="btn btn-danger"><i class="fa fa-trash" (click)="deleteTrip(Trip?.Trip_id)"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
                        <div class="col-sm-6 col-xs-6">
                            <ul class="pagination hidden-xs pull-right">
                                <li><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                            <ul class="pagination visible-xs pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

