<html>
  <head>
 
  </head>
  <body >
    <div class="area"  >

  </div>
  <nav class="main-menu" style="height:140vh;" >
            <ul>
                <li>
         
                    <a routerLinkActive="active" routerLink="admin">
                        <i class="fa fa-home fa-2x"></i>
                        <h3 class="nav-text">
                           Admin Dashboard
                        </h3>
                    </a>
    
                </li>
                <li class="has-subnav">
                    <a  routerLinkActive="active" routerLink="HotelsTable" (click)="HotelsTable()">
                        <i class="fa fa-globe fa-2x"></i>
                        <span class="nav-text">
                    Hotels
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a  routerLinkActive="active" routerLink="OrderdetailsTable"  (click)="OrderdetailsTable()">
                       <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">
                            Orderdetails
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a   (click)="RequestsTable()">
                       <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-text">
                            Requests
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a  (click)="VehcilesTable()">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Vehicles
                        </span>
                    </a>
                </li>
                <li>
                    <a   (click)="TripsTablet()">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                            Trips
                        </span>
                    </a>
                </li>
           
                <li>
                   <a  (click)="PlacesTable()">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                          places
                        </span>
                    </a>
                </li>

                <li>
                    <a  routerLinkActive="active" routerLink="" >
                        <i class="fa fa-cogs fa-2x"></i>
                         <span class="nav-text">
                             Users
                         </span>
                     </a>
                 </li>
                <li>
                    <a  routerLinkActive="active" routerLink="">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a routerLinkActive="active" routerLink="">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>