<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="card m-3" *ngFor="let card of PlacesList;" style="box-shadow:8px 5px 40px inset rgba(137, 97, 29, 0.546) ;;width:85%;background-color: aliceblue; ">
    <!-- card img -->
    <div class="box" >
        <svg class="curve1" x="0px" y="0px" viewBox="0 0 400 200">
            <path
                d="M398.938,143.806c-24.004,26.063-155.373,104.33-224.724,7.328 C69.626,4.846,0.5,71.583,0.5,71.583V1.5h398.629L398.938,143.806z">
            </path>
        </svg>
        <img [src]="card.image" alt="" style="height: 15rem;">
        <div class="box-content">
            <h3 class="title">{{card.name}}</h3>
            <span class="post">{{card.tiketprice}}</span>
            <ul class="icon">
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#"><i class="fa fa-link"></i></a></li>
            </ul>
        </div>
        <svg class="curve2" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 50">
            <path d="M1.114,7.567C87.544-33.817,150,150.5,150,150.5H1.361L1.114,7.567z"></path>
        </svg>
    </div>
    <!-- description -->
    <div class="card-body">
        <h3 class="card-title fs-3" style="color: rgb(190, 143, 23);">{{card.name}}</h3>
        <p class="card-text">{{card.description}}</p>
    </div>
    <!-- card-footer -->
    <div class="card-footer">
        <small class="text-muted">
            <a href="#" class="mx-1"><i class="fa fa-search m-1  p-2 border border-2 rounded-5"
                    style="color: rgb(249, 182, 12);"></i></a><span>Trip type : {{card.type}}</span>
            <a routerLink='placesDesc' routerLinkActive="active" class="mx-1"><i
                    class="fa fa-link m-1  p-2 border border-2 rounded-5"
                    style="color: rgb(249, 182, 12);">view</i></a><span></span>
        </small>
    </div>
</div>