
<!-- ---------------------- -->
<div class="container " style="text-align: center;"> 
    <section class="carousel">
        <h2 class="categories__title">
            <div class="container m-5 " >
                <h1>About our  
                    <span style="color: rgb(240, 167, 30);">places </span>in
                    <span style="color: rgb(255, 187, 41);">Aswan</span>  </h1>
            </div>
        </h2>
        <div class="carousel__container" >
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="https://images.pexels.com/photos/708392/pexels-photo-708392.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              alt="people"
            />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="https://images.pexels.com/photos/1785001/pexels-photo-1785001.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              alt="people"
            />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
              alt="people"
            />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>
          <!-- <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="https://images.pexels.com/photos/1071882/pexels-photo-1071882.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              alt="people"
            />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div> -->
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
              alt="people"
            />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="https://images.pexels.com/photos/6945/sunset-summer-golden-hour-paul-filitchkin.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              alt="people"
            />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>
        
          
        </div>
        </section>
    
      </div>

