<section>
    <div class="comtainer m-5">

      <div class="booking-form">
        <form action="" (ngSubmit)="submitForm()"  [formGroup]="newForm">


<!-- valid -->

<div *ngIf="
newForm.dirty  && newForm.invalid ">
<div class="form-text text-danger" *ngIf="newForm.errors?.['required']">
  This field is required
</div>
</div>


          <div class="form-group">
            <span class="form-label">Your Budget</span>
            <input class="form-control" formControlName="budget" type="text" placeholder="Enter Your Budget">
        
            <div *ngIf="
            (  newForm.controls['name'].touched || newForm.controls['name'].dirty ) &&
            newForm.controls['name'].invalid
            ">
            <div class="form-text text-danger" *ngIf="newForm.controls['name'].errors?.['required']">
              This field is required
            </div>
          </div>

          </div>
          <!-- Check In/Out  -->
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <span class="form-label">Check In</span>
                <input class="form-control"formControlName="check_in" type="date" required>
             
                <div *ngIf="
                (  newForm.controls['name'].touched || newForm.controls['name'].dirty ) &&
                newForm.controls['name'].invalid
                ">
                <div class="form-text text-danger" *ngIf="newForm.controls['name'].errors?.['required']">
                  This field is required
                </div>
              </div>

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <span class="form-label">Check out</span>
                <input class="form-control" formControlName="check_out" type="date" required>
             
                <div *ngIf="
                (  newForm.controls['name'].touched || newForm.controls['name'].dirty ) &&
                newForm.controls['name'].invalid
                ">
                <div class="form-text text-danger" *ngIf="newForm.controls['name'].errors?.['required']">
                  This field is required
                </div>
              </div>
              </div>
            </div>
          </div>
          <!-- Rooms & n.People -->
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label">Rooms</span>
                <input class="form-control" formControlName="n_of_room
                " type="number" required>


                <div *ngIf="
                (  newForm.controls['name'].touched || newForm.controls['name'].dirty ) &&
                newForm.controls['name'].invalid
                ">
                <div class="form-text text-danger" *ngIf="newForm.controls['name'].errors?.['required']">
                  This field is required
                </div>
              </div>


                <select class="form-control" formControlName="room_type">
                  <span class="form-label">Rooms</span>
                  <option value="single">single</option>
                  <option value="double">Double</option>
                  <option value="Triple">Triple</option>
                </select>


                <div *ngIf="
                (  newForm.controls['name'].touched || newForm.controls['name'].dirty ) &&
                newForm.controls['name'].invalid
                ">
                <div class="form-text text-danger" *ngIf="newForm.controls['name'].errors?.['required']">
                  This field is required
                </div>
              </div>

                <!-- <span class="select-arrow"></span> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label">Adults</span>
                <input class="form-control" type="number" required formControlName="n_of_adults">
             
                <div *ngIf="
                (  newForm.controls['name'].touched || newForm.controls['name'].dirty ) &&
                newForm.controls['name'].invalid
                ">
                <div class="form-text text-danger" *ngIf="newForm.controls['name'].errors?.['required']">
                  This field is required
                </div>
              </div>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label">Children</span>
                <input class="form-control" type="number" required formControlName="n_of_childeren">
            

                <div *ngIf="
                (  newForm.controls['name'].touched || newForm.controls['name'].dirty ) &&
                newForm.controls['name'].invalid
                ">
                <div class="form-text text-danger" *ngIf="newForm.controls['name'].errors?.['required']">
                  This field is required
                </div>
              </div>


              </div>
            </div>
          </div>
          <!-- submit -->
          <!-- <div class="form-btn d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="submit-btn m-3" routerLink="/custo_hotel">Confirm</button>
          </div> -->
          <button class="btn submit-btn m-3" [routerLink]="['/customize/hotel']"   class="btn" [disabled]="newForm.invalid">Confirm</button>

        </form>

        <div class=" d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- <button class=" m-3" routerLink="/custo_hotel">Confirm</button> -->
          
        </div>
        <!-- <div class="form-btn d-grid gap-2 d-md-flex justify-content-md-end">
         <input type="button"> <a  class="submit-btn m-3" routerLink="/custo_hotel">Confirm</a>
        </div> -->
      </div>
    </div>
  </section>
