<section>
    <div class="comtainer m-5">

      <div class="booking-form">
        <form action="" (ngSubmit)="submitForm()" [formGroup]="newForm">


<!-- valid -->

<div *ngIf="
newForm.dirty  && newForm.invalid ">
<div class="form-text text-danger" *ngIf="newForm.errors?.['required']">
  This field is required
</div>
</div>
<!--      -->
<!-- 
{
  "order info": {
      "user_id": "1",
      "budget": "10000",
      "check_in": "2023-10-03",
      "check_out": "2023-10-10",
      "n_of_adults": "3",
      "n_of_childeren": "5",
      "n_of_days": 7,
      "updated_at": "2023-03-06T11:13:25.000000Z",
      "created_at": "2023-03-06T11:13:25.000000Z",
      "id": 3
  },
  "message": "the order is saved"
} -->

          <div class="form-group">
            <span class="form-label">Your Budget</span>
            <input class="form-control" formControlName="budget" type="text" placeholder="Enter Your Budget">
          </div>
          <!-- Check In/Out  -->
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <span class="form-label">Check In</span>
                <input class="form-control"formControlName="check_in" type="date" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <span class="form-label">Check out</span>
                <input class="form-control" type="date" required>
              </div>
            </div>
          </div>
          <!-- Rooms & n.People -->
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label">Rooms</span>
                <input class="form-control" type="number" required>

                <select class="form-control">
                  <span class="form-label">Rooms</span>
                  <option value="single">single</option>
                  <option value="double">Double</option>
                  <option value="Triple">Triple</option>
                

                </select>
                <!-- <span class="select-arrow"></span> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label">Adults</span>
                <input class="form-control" type="number" required>
                <!-- <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select> -->
                <!-- <span class="select-arrow"></span> -->
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <span class="form-label">Children</span>
                <input class="form-control" type="number" required>
                <!-- <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select> -->
                <!-- <span class="select-arrow"></span> -->
              </div>
            </div>
          </div>
          <!-- submit -->
          <!-- <div class="form-btn d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="submit-btn m-3" routerLink="/custo_hotel">Confirm</button>
          </div> -->
          
        </form>

        <div class=" d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- <button class=" m-3" routerLink="/custo_hotel">Confirm</button> -->
          <button class="btn submit-btn m-3" [routerLink]="['/customize/hotel']">Confirm</button>
          
        </div>
        <!-- <div class="form-btn d-grid gap-2 d-md-flex justify-content-md-end">
         <input type="button"> <a  class="submit-btn m-3" routerLink="/custo_hotel">Confirm</a>
        </div> -->
      </div>
    </div>
  </section>
