<div class="container" style="margin-left: 0px;">
    <div class="row">
        <div class="col-md-3">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image w-100" src="../../assets/img/312943187_5270327163077196_2845712994865899700_n.jpg" style="height: 400px;" >
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Geysers Valley Hotel</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Russia</p>
                    </div>
                </a> </div>
        </div>
        <div class="col-md-3">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image w-100" src="../../assets/img/313329044_5270330346410211_6589990131824274502_n.jpg"style="height: 400px;" >
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Khumbu Valley Hotel</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Nepal</p>
                    </div>
                </a> </div>
        </div>
        <div class="col-md-3">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image w-100" src="../../assets/img/315649773_501164642040067_8299459730598802399_n.jpg" style="height: 400px;">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Waipi&rsquo;o Valley Hotel</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Hawaii</p>
                    </div>
                </a> </div>
        </div>
        <div class="col-md-3">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image w-100" src="../../assets/img/314721308_496146912541840_8066041095138938306_n.jpg" style="height: 400px;">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Waipi&rsquo;o Valley Hotel</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Hawaii</p>
                    </div>
                </a> </div>
        </div>
        
    </div>
</div>