<div class="wrapper">
    <h1>Our Trip contians</h1>
   
    <div class="row " style="margin-left: 5rem;">
              <div class="col-sm-12 col-md-6 col-lg-3 m-3" ontouchstart="this.classList.toggle('hover');" style="width: 20%;">
                  <div class="container">
                      <div class="front" style="background-image: url(../../assets/img/314721308_496146912541840_8066041095138938306_n.jpg)">
                          <div class="inner">
                              <p>plases </p>
                <span>in Aswan </span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3 m-3" ontouchstart="this.classList.toggle('hover');" style="width: 20%;">
                  <div class="container">
                      <div class="front" style="background-image: url(../../assets/img/istockphoto-1207112680-612x612.jpg);;">
                          <div class="inner">
                              <p>Freindly Tourguide</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3 m-3" ontouchstart="this.classList.toggle('hover');" style="width: 20%;">
                  <div class="container">
                      <div class="front" style="background-image: url(../../assets/img/Aswan-Nile-200x300.jpg)">
                          <div class="inner">
                              <p>Transport</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3 m-3" ontouchstart="this.classList.toggle('hover');" style="width: 20%;">
                  <div class="container">
                      <div class="front" style="background-image: url(../../assets/img/best-desert-safari-dubai-banner3.png)">
                          <div class="inner">
                              <p>outDoor Places</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
   </div>

